.prefooter {
    padding-top: 4rem;

    p {
        text-align: center;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        .logo {
            @include desktop {
                width: calc(100% / 12);
            }

            @include mobile {
                width: calc(100% / 6);
            }
            
            padding: 0.5rem;
            
            img {
                width: 100%;                
                height: 2.5rem;
                object-fit: contain;
    
                filter: grayscale(100%);
                mix-blend-mode: multiply;
            }
        }
    }
}

#imprint-menu {
    @include grid;
    padding: 3rem 0 6rem 0;
    position: relative;
    z-index: 10000;
        
    a {
        @include col-2;

        @include mobile {
            @include col-3;
        }
    
        @include mono-s;
        text-align: center;
    }
}