.prefooter {
    padding-top: 4rem;

    p {
        text-align: center;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem;
    
        .logo {
            @include desktop {
                width: calc(100% / 12);
            }

            @include mobile {
                width: calc(100% / 6);
            }
            
            padding: 0.5rem;
            
            img {
                width: 100%;                
                height: 2.5rem;
                object-fit: contain;
    
                filter: grayscale(100%);
                mix-blend-mode: multiply;
            }
        }
    }
}

#imprint-menu {
    @include grid;
    padding: 3rem 0 6rem 0;
    position: relative;
    z-index: 100;
        
    div {
        @include col-2;

        @include mobile {
            @include col-3;
        }
    
        @include mono-s;
        text-align: center;
    }
}

#imprint-content {
    position: fixed;
    z-index: 1000;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 2rem;

    background-color: #ff820a;
    box-shadow: 0 0 1rem #ff820a;

    width: 28rem;

    display: none;


    p {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}



.closer-target {
    .closer {
        position: absolute;
        right: 1rem;
        top: 0.7rem;
        cursor: pointer;
    }
}