@mixin desktop {
    @media
        only screen and (min-device-width: 813px) and (-webkit-min-device-pixel-ratio: 3),
        only screen and (min-device-width: 668px) and (-webkit-min-device-pixel-ratio: 2),
        only screen and (orientation: landscape)
        {
            @content;
        }
}

@mixin mobile {
    @media
        only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
        only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
            @content;
        }
}

@mixin more-button {
    display: inline-block;
    border-radius: 1rem;

    background-color: $keycolor3;

    padding: 0.4rem;
    color: $keycolor4;
    font-size: 0.8rem;

    cursor: pointer;

    transition: all 0.3s ease;

    @include mobile {
        font-size: 1rem;
    }

    &:hover {
        background-color: white;
    }
}