$debug: false;
//$debug: true;


$desktopHeaderWidth: 34vw;
$desktopGeneralWidth: 50vw;
$desktopVideoWidth: 36rem;

$key-color: #f7dbff;


$keycolor1: #58de60; //green
$keycolor2: #ff820a; //orange
$keycolor3: #ffbbf1; //rosa
$keycolor4: #b47e00; //brown
$keycolor5: #6c4b34; //brown





$ticket-color:#f1ff8b;

$mid-grey: #8b8b8b;

$backgroundColor: #b47e00;

$tableBorderStrokeWidth: 0.08rem;
$tableBorder: $tableBorderStrokeWidth solid black;