@import url("https://sonicacts.knoth-renner.com/css/style.css");

*:focus {outline:0;}


.timetable{
  height: auto;
	margin-top: 224px;
  .location{
    height: 100%;
    border-top: 1px solid black;
    position: sticky;
    z-index: 5;
    left: 0;
    width: 250px;
    background-color: #b4c8c8;
    display: inline-block;
    vertical-align: middle;
    word-break: break-all;
  }
  .timetable-row{
		vertical-align: middle;
		position: relative;
		display: flex;		
	}
  .timetable-wrapper {
    width: calc(24 * 200px + 250px);
    position: relative;
  }
}